
<!-- templates/cart.html -->
{% extends 'base.html' %}

{% block content %}
<h1>Shopping Cart</h1>
<div class='row'>
    {% for item in items %}
        {% if item.in_cart %}
            <div class='col-md-3'>
                <h3><a href='/{{ item._id }}'>{{ item.title }}</a></h3>
                <small>{{ item.price }}</small>
                <form method='POST' action='/cart/{{ item._id }}/delete_from_cart'>
                    <button type='submit'>REMOVE</button>
                </form>
            </div>
        {% endif %}
    {% endfor %}
    <a href='/thanks' class='btn btn-default navbar-btn'>Checkout</a>
</div>
{% endblock %}
